.error-wrapper {
  height: 100vh;
  overflow: hidden;
}
.error-wrapper .error-pic {
  margin-top: 120px;
}
.error-wrapper .error-pic img {
  display: block;
  margin: 0 auto;
  width: 125px;
  height: 92px;
  background-color: transparent;
}
.error-wrapper .error-tip {
  margin-top: 41px;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  color: #333333;
}
.error-wrapper .error-try {
  margin-top: 7px;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #999999;
}
.error-wrapper .back-index {
  margin: 0 auto;
  margin-top: 41px;
  padding-top: 5px;
  width: 97px;
  height: 32px;
  background-color: #0099FF;
  border-radius: 4px;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
}
